name: CI

on:
  push:
    branches:
      - main

jobs:
  test-build:
    runs-on: ubuntu-latest
    env:
      VERCEL_TOKEN: ${{ secrets.ACTIONS_VERCEL_KEY }}

    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: setup node
        uses: actions/setup-node@v6
        with:
          node-version: '24'
      
      - name: install dependencies
        run: npm ci

      - name: run tests
        run: npm run test:unit

      - name: run build
        run: npm run build

      - name: install vercel and deploy to prod
        if: env.VERCEL_TOKEN != ''
        run: |
          npm install -g vercel
          vercel --prod --yes --token ${{ secrets.ACTIONS_VERCEL_KEY }}