name: CI

on:
  pull_request:
    branches:
      - main

jobs:
  test-build-preview:
    runs-on: ubuntu-latest
    env:
      VERCEL_TOKEN: ${{ secrets.ACTIONS_VERCEL_TOKEN }}

    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: setup node
        uses: actions/setup-node@v6
        with:
          node-version: '24'

      - name: install dependencies
        run: npm ci

      - name: run tests
        run: npm run test:unit

      - name: run build
        run: npm run build

      - name: install vercel and deploy to PREVIEW
        if: env.VERCEL_TOKEN != ''
        run: |
          npm install -g vercel
          vercel --yes --token "$VERCEL_TOKEN"
